* {
  box-sizing: border-box;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100vh;
  user-select: none;
}

.home-btn {
  position: absolute;
  left: 100px;
  top: 100px;
}

.home-btn a {
  padding: 10px 15px;
  text-decoration: none;
  background-color: rgb(24, 3, 44);
  color: white;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  list-style-type: none;
}

.month {
  padding: 10px 10px;
  width: 100%;
  background-color: #260a62;
  text-align: center;
}

.month .prev {
  float: left;
  padding-top: 10px;
  cursor: pointer;
}

.month .next {
  float: right;
  padding-top: 10px;
  cursor: pointer;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 900;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #061867;
}

.weekdays li {
  display: inline-block;
  width: 12.6%;
  color: rgb(255, 255, 255);
  text-align: center;
}

.days {
  padding: 10px 0;
  background-color: rgba(184, 14, 223, 0.944);
  margin: 0;
  cursor: pointer;
}

.days li {
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 15px;
  color: rgb(255, 255, 255);
}

/* lets add some active class  for current date*/
.active {
  padding: 5px;
  background-color: #260a62;
  color: white;
}
/*  TO make it responsive lets add some media queries */

@media screen and (max-width: 720px) {
  .weekdays li,
  .days li {
    width: 13.1%;
  }
}

@media screen and (max-width: 420px) {
  .weekdays li,
  .days li {
    width: 12.1%;
  }
  .days li .active {
    padding: 2px;
  }
}

@media screen and (max-width: 290px) {
  .weekdays li,
  .days li {
    width: 12.2%;
  }
}
